---
const personalImageAlt = "William Guaña";
const name = "William Guaña";
const description = "Fullstack Developer";
const username = "@Nevmetal";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import GitHub from "@/components/icons/GitHub.astro";
---

<article class="w-full max-w-md space-y-6">
  <section class="flex flex-col items-center space-y-4">
    <div
      class="relative h-24 w-24 overflow-hidden rounded-full border-2 border-white shadow-lg"
    >
      <img
        class="object-cover"
        src="/src/assets/me.webp"
        alt={personalImageAlt || "Perfil"}
      />
    </div>
    <div class="text-center">
      <h1 class="text-2xl font-bold text-gray-800">
        {name}
      </h1>
      <p class="text-gray-600">
        {username}
      </p>
      <p class="mt-2 text-sm text-gray-600">{description}</p>
    </div>

    <div class="flex space-y-3">
      <nav class="flex flex-wrap gap-4">
        <SocialPill href="mailto:wbgua@live.com">
          <MailIcon class="size-7" />
        </SocialPill>
        <SocialPill
          href="https://www.linkedin.com/in/william-andres-gua%C3%B1a/"
        >
          <LinkedInIcon class="size-7" />
        </SocialPill>
        <SocialPill href="https://github.com/Nevmetal">
          <GitHub class="size-7" />
        </SocialPill>
      </nav>
    </div>
  </section>
</article>
